.feedback-container {
  height: 50px;
  position: fixed;
  bottom: 103px;
  right: 115px;
  overflow: hidden;
  padding-left: 40px;
}

.feedback-bar {
  font-size: 14pt;
  padding: 15px 60px 15px 20px;
  border-radius: 30px;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
  display: flex;
  align-items: center;
}

.feedback-good {
  background-color: #ddebe4;
  color: #76b093;
}

.feedback-boost {
  background-color: #faf3e2;
  color: #ffd15e;
}

.feedback-bad {
  background-color: #f5e1e4;
  color: #de576e;
}

.feedback-icon {
  height: 20px;
  margin-right: 10px;
}

.bar-closed {
  transform: translateX(100%);
}

.feedback-content {
  font-family: "Luckiest Guy", cursive;
  transform: translateY(3px);
}

.points-floating {
  position: fixed;
  bottom: 125px;
  right: 175px;
  font-size: 14pt;
  font-family: "Luckiest Guy", cursive;
  color: #76b093;
  opacity: 0;
}

.points-floating-animation-add {
  animation-name: points-floating-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes points-floating-animation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.boost-container {
  position: fixed;
  bottom: 104px;
  right: 104px;
  transition: all 0.4s cubic-bezier(0.54, 0.32, 0.37, 1.19);
  transform: scale(0.7);
}

.boost-bar {
  width: 20px;
  height: 20px;
  font-size: 14pt;
  padding: 8px;
  border: 8px solid #ffffff;
  border-radius: 30px;

  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.animating-gradient {
  position: absolute;
  z-index: 0;
  left: 0;
  width: 500px;
  height: 100px;
  background: linear-gradient(
    90deg,
    #ffd15e 0%,
    #ffd15e 30%,
    #f1990e 50%,
    #ffd15e 70%,
    #ffd15e 100%
  );
  animation: gradient 1.5s ease infinite;
}

@keyframes gradient {
  0% {
    left: 0px;
  }
  100% {
    left: -400px;
  }
}

.boost-icon {
  width: 21px;
  z-index: 1;
  animation: boost-icon-animation 2s ease infinite;
}

@keyframes boost-icon-animation {
  0% {
    transform: translateY(61.5px);
  }
  60% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-60px);
  }
}

.boost-content {
  font-family: "Luckiest Guy", cursive;
  color: #f1990e;
  transform: translateY(3px);
  z-index: 1;
}

.boost-hidden {
  transform: scale(0);
}

.progress-segment {
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  bottom: 125px;
  right: 96px;

  transition: all 0.4s cubic-bezier(0.54, 0.32, 0.37, 1.19);
}

.planet-selector {
  padding: 0px 60px 0px 0px;
}

.planet-selector .feedback-content {
  margin: 0px 10px 0px 20px;
}
.planet-icon {
  margin: 5px 0px 5px 5px;
  width: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.planet-icon:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

@media screen and (max-width: 900px) {
  .feedback-container {
    bottom: 78px;
    right: 60px;
  }

  .points-floating {
    bottom: 100px;
    right: 120px;
  }

  .boost-container {
    bottom: 79px;
    right: 49px;
  }
}
