@media (max-width: 900px) {
  .container {
    width: 95vw;
    margin: 20px;
  }
  .video-container,
  .video-container iframe,
  .radio-button-container,
  .radio-group,
  .text-input-container,
  .text-input-container textarea {
    width: 95vw;
  }

  .video-container iframe,
  .text-input-container textarea {
    height: calc((95vw / 16) * 9);
  }

  #userIcon {
    display: block;
  }
  #userName {
    display: none;
  }
  .form {
    margin: 20px;
  }
  .buttons-overlay {
    width: 105%;
  }
  .onboarding {
    width: 75vw;
    margin: auto;
  }
  .onboarding_collection {
    width: 375vw;
  }
  .onboarding_content {
    width: 75vw;
  }
  .pos1 {
    transform: translateX(-75vw);
  }
  .pos2 {
    transform: translateX(-150vw);
  }
  .pos3 {
    transform: translateX(-225vw);
  }
  .pos4 {
    transform: translateX(-300vw);
  }
  .pos5 {
    transform: translateX(-375vw);
  }
}

@media (max-width: 500px) {
  .pl-extended {
    width: 95vw;
    bottom: auto;
    top: 150px;
    right: calc(50vw - 47.5vw);
  }
  #rotate-right {
    right: 5px;
    transform: scale(0.8);
  }
  #rotate-left {
    left: 5px;
    transform: scale(0.8);
  }
  #close-details {
    right: 5px;
    top: 5px;
    transform: scale(0.8);
  }
  .pl-toolbar {
    width: 80vw;
  }

  .poll-selector {
    grid-template-columns: 1fr;
  }
}

@media (hover: none) {
  .delete-view {
    background-color: #f5e1e4;
  }
  .delete-view img:nth-child(1) {
    opacity: 1;
  }
  .delete-view img:nth-child(2) {
    opacity: 0;
  }
}

@media (max-height: 800px) {
  textarea {
    height: 200px;
  }
}

@media (min-width: 900px) {
  .form {
    width: 400px;
  }
}
