@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 20px;
  }

  #userIcon {
    display: block;
  }
  #userName {
    display: none;
  }
  .form {
    margin: 20px;
  }
  .buttons-overlay {
    width: 105%;
  }
  .onboarding {
    width: 75vw;
    margin: auto;
  }
  .onboarding_collection {
    width: 375vw;
  }
  .onboarding_content {
    width: 75vw;
  }
  .pos1 {
    transform: translateX(-75vw);
  }
  .pos2 {
    transform: translateX(-150vw);
  }
  .pos3 {
    transform: translateX(-225vw);
  }
  .pos4 {
    transform: translateX(-300vw);
  }
  .pos5 {
    transform: translateX(-375vw);
  }
  #widebtn {
    width: 75vw;
  }
}

@media (max-height: 800px) {
  textarea {
    height: 200px;
  }
}

@media (min-width: 900px) {
  .form {
    width: 400px;
  }
}
