.pl-container {
  margin: auto;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}
.pl-container.hidden {
  display: none;
}

.pl-embedded {
  position: fixed;
  bottom: 55px;
  right: 55px;
  width: 150px;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
  cursor: pointer;
}

.pl-embedded:hover {
  transform: scale(1.05);
}

.no-action {
  pointer-events: none;
}

.pl-asset {
  transform: rotate(0deg);
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}

.typing {
  animation-name: typing;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes typing {
  0% {
    filter: brightness(100%) blur(0);
  }
  50% {
    filter: brightness(120%) blur(0.5px);
  }
  100% {
    filter: brightness(100%) blur(0);
  }
}

.planet,
.tree-front,
.building,
.tree-back,
.bush,
.sky,
.sprite-container,
.pl-buttons {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.animate-appear {
  animation: asset-appear 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
}

@keyframes asset-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-disappear {
  animation: asset-disappear 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
}

@keyframes asset-disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.sky video {
  width: 100%;
  height: 100%;
}

.sky img {
  width: 100%;
  height: 100%;
}

.sprite-content {
  width: 600%;
  animation-name: sprite-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6);
}

@keyframes sprite-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Building positions */

.building-1 {
  transform: rotate(0deg);
}
.building-2 {
  transform: rotate(45deg);
}
.building-3 {
  transform: rotate(90deg);
}
.building-4 {
  transform: rotate(135deg);
}
.building-5 {
  transform: rotate(180deg);
}
.building-6 {
  transform: rotate(225deg);
}
.building-7 {
  transform: rotate(270deg);
}
.building-8 {
  transform: rotate(315deg);
}

/* Tree Front Positions */

.tree-front-1 {
  transform: rotate(337deg);
}
.tree-front-2 {
  transform: rotate(22deg);
}
.tree-front-3 {
  transform: rotate(67deg);
}
.tree-front-4 {
  transform: rotate(112deg);
}
.tree-front-5 {
  transform: rotate(157deg);
}
.tree-front-6 {
  transform: rotate(202deg);
}
.tree-front-7 {
  transform: rotate(247deg);
}
.tree-front-8 {
  transform: rotate(292deg);
}

/* Tree Back Positions */

.tree-back-1 {
  transform: rotate(348deg);
}
.tree-back-2 {
  transform: rotate(10.5deg);
}
.tree-back-3 {
  transform: rotate(33deg);
}
.tree-back-4 {
  transform: rotate(55.5deg);
}
.tree-back-5 {
  transform: rotate(78deg);
}
.tree-back-6 {
  transform: rotate(100.5deg);
}
.tree-back-7 {
  transform: rotate(123deg);
}
.tree-back-8 {
  transform: rotate(145.5deg);
}
.tree-back-9 {
  transform: rotate(168deg);
}
.tree-back-10 {
  transform: rotate(190.5deg);
}
.tree-back-11 {
  transform: rotate(213deg);
}
.tree-back-12 {
  transform: rotate(235.5deg);
}
.tree-back-13 {
  transform: rotate(258deg);
}
.tree-back-14 {
  transform: rotate(280.5deg);
}
.tree-back-15 {
  transform: rotate(303deg);
}
.tree-back-16 {
  transform: rotate(325.5deg);
}

/* Bush Posiotions */
.bush-1 {
  transform: rotate(0deg);
}
.bush-2 {
  transform: rotate(45deg);
}
.bush-3 {
  transform: rotate(90deg);
}
.bush-4 {
  transform: rotate(135deg);
}
.bush-5 {
  transform: rotate(180deg);
}
.bush-6 {
  transform: rotate(225deg);
}
.bush-7 {
  transform: rotate(270deg);
}
.bush-8 {
  transform: rotate(315deg);
}

/* Sky Positions */

.sky-1,
.sky-2,
.sky-3,
.sky-4,
.sky-5,
.sky-6,
.sky-7,
.sky-8 {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 1fr;
}

@keyframes rotate-trigger-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 900px) {
  .pl-embedded {
    bottom: 30px;
    right: 0px;
  }
}

/* Planet editor overlay */

.pl-extended {
  width: 400px;
  box-sizing: border-box;

  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  bottom: calc(50vh - 200px);
  right: calc(50vw - 200px);
  cursor: auto;
}

.rotate-animation {
  animation: rotate-trigger-animation 3s cubic-bezier(0.54, 0.32, 0.37, 1.19) infinite;
}

.pl-buttons {
  transition: all 0.5s ease;
}

.pl-buttons .primarybtn {
  position: absolute;
  bottom: calc(50% - 25px);
  width: fit-content;
  fill: #78b195;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
  z-index: 12;
}

.pl-buttons .primarybtn:nth-child(1) {
  right: -25px;
}

.pl-buttons .primarybtn:nth-child(2) {
  left: -25px;
}

.pl-buttons .primarybtn:hover {
  fill: #ddebe4;
}

#close-details {
  position: absolute;
  padding: 9px;
  background-color: #fff;
  width: fit-content;
  fill: #78b195;
  top: -25px;
  right: -25px;
  cursor: pointer;
  z-index: 15;
}

.pl-extended:hover {
  transform: scale(1);
}

.pl-toolbar {
  display: flex;
  z-index: 10;
  justify-content: center;
  gap: 10px;
  width: 360px;

  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 40px;
}

.pl-toolbar-items {
  padding: 8px 5px 2px 5px;
  border-radius: 30px;

  text-align: center;

  font-size: 14pt;
  cursor: pointer;
}

.points-view {
  font-family: "Luckiest Guy", cursive;
  padding: 14px 10px 6px 10px;
  width: 100px;
  background-color: #ddebe4;
  color: #76b093;
}

#current-points,
#next-stage {
  display: inline;
}

.edit-view {
  z-index: 20;
  position: relative;
  transform: translateY(0px);
  font-weight: bold;
  font-size: 17pt;
  background-color: #eaeaea;
  color: #b0b0b0;
}

.edit-view:hover {
  font-weight: 900;
  background-color: #b0b0b0;
  color: #eaeaea;
}

.delete-view {
  z-index: -1;
  transform: translateY(0px);
  font-size: 17pt;
  font-weight: 900;
  background-color: #f5e1e4;
  color: #de576e;
}
.delete-view:hover {
  background-color: #de576e;
  color: #f5e1e4;
}

/* Preview Icons trees */

.tree-preview {
  position: absolute;
  left: 250px;
  bottom: 0px;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);

  display: flex;
  align-items: center;

  padding: 5px;
  border-radius: 30px;
  background-color: #ddebe4;
  cursor: pointer;
}
.icons-stacking img {
  width: 30px;
  grid-area: 1/2;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
}

.icons-stacking:hover span {
  opacity: 1;
  color: #3a5c4c;
}

.icons-stacking:hover img {
  opacity: 0.25;
}

.icons-stacking span {
  grid-area: 1/2;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
  transform-origin: 15px 12.25px;
  animation: rotate-tree-arrow 2s cubic-bezier(0.54, 0.32, 0.37, 1.19) infinite;
}
.price {
  font-family: "Luckiest Guy", cursive;
  transform: translateY(2px);
  font-size: 14pt;
  overflow: hidden;
  width: 0px;
  color: #76b093;
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
  cursor: auto;
}

.icons-stacking:hover + .price {
  width: 25.5px;
  margin: 0 5px;
}
.tree-preview:hover {
  z-index: 30;
}

.icons-stacking {
  display: grid;
  grid-template-columns: 1fr;
}

#tree-4.selected {
  transform: translateX(50px);
}

#tree-1.selected {
  transform: translate(-25px, -50px);
}

#tree-2.selected {
  transform: translate(25px, -50px);
}
#tree-3.selected {
  transform: translate(-50px, 0px);
}

#tree-1.hidden,
#tree-2.hidden,
#tree-3.hidden,
#tree-4.hidden {
  display: none;
}

@keyframes rotate-tree-arrow {
  0% {
    transform: translateY(2px) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(-360deg);
  }
  100% {
    transform: translateY(2px) rotate(-360deg);
  }
}

/* Planet rotations */

.pos-1 {
  transform: rotate(0deg);
}
.pos-2 {
  transform: rotate(45deg);
}
.pos-3 {
  transform: rotate(90deg);
}
.pos-4 {
  transform: rotate(135deg);
}
.pos-5 {
  transform: rotate(180deg);
}
.pos-6 {
  transform: rotate(225deg);
}
.pos-7 {
  transform: rotate(270deg);
}
.pos-8 {
  transform: rotate(315deg);
}
.pos-9 {
  transform: rotate(360deg);
}

.rotate-on-click-animation {
  transition: all 0.5s cubic-bezier(0.54, 0.32, 0.37, 1.19);
}
